html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: "Poppins", sans-serif;
}

.hr-border {
    border-bottom: .2rem solid #0181f5;
    width: 5rem;
    margin: .5rem 0;
}

/* Header style starts */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem;
    background: #fff;
    box-shadow: .1rem .1rem 1rem rgb(197, 194, 194);
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    flex: 1;
}

.menus {
    flex: 2;
    display: flex;
}

.menus ul li {
    display: inline-block;
    margin-right: 2rem;
}

.menus ul li a {
    font-size: 1.6rem;
    color: #727272;
    font-weight: 500;
}

.menus ul li a:hover {
    color: #1f1f1f;
}

.appointment {
    flex: 1;
}

.appointment a {
    background: #009dff;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    border: .1rem solid #009dff;
    border-radius: .4rem;
}

.appointment a:hover {
    background: #fff;
    color: #009dff;
}

/* Header style ends */

/* Banner section starts */

.banner {
    height: 90vh;
    background-image: url('./images/doc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    padding-left: 10rem;
}

.contents {
    width: 45%;
}

.banner .contents h1 span {
    font-weight: 700;
}

.banner .contents h1 {
    font-size: 7rem;
    font-weight: 300;
    color: #1f1f1f;
}

.banner .contents p {
    font-size: 1.8rem;
    font-weight: 400;
    color: #727272;
    margin-bottom: 6.5rem;
    margin-top: 2rem;
}

.banner .contents a {
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
    border-radius: .5rem;
    padding: 1.5rem 2.5rem;
    margin-top: 2rem;
}

.banner .contents a:hover {
    color: #0181f5;
    background: #fff;
    border: .1rem solid #0181f5;
}

/* Banner section ends */

/* Services section starts */

.services {
    background: #83c4ff;
}

.services .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10rem;
}

.services .box-container .box {
    flex: 1 35rem;
    padding: 3rem 3rem;
}

.services .box-container .box i {
    font-size: 5rem;
    color: #fff;
}

.services .box-container .box h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #fff;
    margin: 2rem 0;
}

.services .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 4rem;
}

.services .box-container .box a {
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    padding: 1.2rem 2.5rem;
    font-size: 1.6rem;
    display: inline-block;
}

.services .box-container .box a:hover {
    color: #0181f5;
    background: #fff;
}

.services .box-container .box:nth-child(2) {
    background: #5db2ff;
}

/* Services section ends */

/* Welcom aria section starts */

.welcome-aria {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 10rem auto;
    position: relative;
    height: 90vh;
}

.welcome-aria aside {
    width: 42%;
}

.welcome-aria aside .img-2 {
    position: absolute;
    top: 25%;
    left: 25%;
}

.welcome-aria aside img {
    width: 32.4rem;
}

.welcome-aria article {
    width: 40%;
    padding-left: 10rem;
}

.welcome-aria article h2 {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: #1f1f1f;
}

.welcome-aria article h3 {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4rem;
    margin-top: 4rem;
    color: #1f1f1f;
}

.welcome-aria article p {
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #727272;
    line-height: 2.8rem;
}

.welcome-aria article ul {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.welcome-aria article ul li i {
    border: .1rem solid #0181f5;
    border-radius: 50%;
    padding: .2rem;
    font-size: 1rem;
    color: #0181f5;
    margin-right: 1rem;
}

.welcome-aria article ul li {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #727272;
    line-height: 2.8rem;
}

.welcome-aria article .learn-more-btn {
    color: #5db2ff;
    border: .1rem solid #5db2ff;
    border-radius: .5rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.welcome-aria article .learn-more-btn:hover {
    color: #fff;
    background: #5db2ff;
}

/* Welcom aria section ends */

/* Department section starts */

.department {
    background: #f5fbff;
}

.department .heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column;
}

.department .heading h2 {
    font-size: 3.6rem;
    margin-top: 4rem;
}

.department .heading p {
    font-size: 1.6rem;
    color: #727272;
    line-height: 2.8rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;
}

.department .box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1% 7%;
}

.department .box-container .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    margin-top: 3rem;
    border-radius: .5rem;
    overflow: hidden;
    width: 35rem;
}

.department .box-container .box .box-img {
    height: 23.2rem;
    overflow: hidden;
    /* vertical-align: middle;
    border-style: none; */
}

.department .box-container .box .box-img img {
    /* width: 110%; */
}

.department .box-container .box .box-img img:hover {
    transform: scale(1.2);
}

.department .box-container .box .box-text {
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.department .box-container .box .box-text h3 {
    margin-top: 2rem;
}

.department .box-container .box .box-text .title {
    font-size: 2.2rem;
    color: #1f1f1f;
    line-height: 3.3rem;
    font-weight: 600;
}

.department .box-container .box .box-text .title:hover {
    color: #0181f5;
}

.department .box-container .box .box-text p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #727272;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.department .box-container .box .box-text .more-btn {
    font-size: 1.6rem;
    color: #0181f5;
}

.department .box-container .box .box-text .more-btn:hover {
    text-decoration: underline;
}

/* Department section ends */

/* business expart aria section starts */

.business-expart-area {
    /* padding: 0 7%; */
    background: #f5fbff;
    height: 90vh;
    display: table;
    content: '';
    box-sizing: border-box;
    clear: both;
}

.business-expart-area #tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.business-expart-area #tabs ul {}

.business-expart-area #tabs>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-bottom: .1rem solid gray;
    padding: 5% 7%;
}

.business-expart-area #tabs>div i {
    font-size: 3.5rem;
    color: #fff;
    background: #0181f5;
    border: .1rem solid #0181f5;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    line-height: 7.5rem;
    text-align: center;
}

.business-expart-area #tabs>div article {
    padding-right: 2rem;
}

.business-expart-area #tabs>div h2 {
    font-size: 2rem;
    padding: 2rem 0;
    color: #1f1f1f;
}

.business-expart-area #tabs>div p {
    font-size: 1.6rem;
    color: #727272;
    line-height: 2.8rem;
}

.business-expart-area #tabs ul li {
    display: inline-block;
    width: 35rem;
    height: 10rem;
    line-height: 10rem;
    text-align: center;
}

.business-expart-area #tabs ul li:focus-within {
    background: #fff;
}

.business-expart-area #tabs ul li a {
    font-size: 2rem;
    font-weight: 400;
    color: #1f1f1f;
    padding: 35 px 0 35 px 40 px;
    padding: 3.5rem 0 3.5rem 4rem;
}

/* business expart aria section ends */

/* carolor starts */

.caro {
    height: 90vh;
    display: table;
    content: '';
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caro .owl-nav, .caro .owl-dots {
    display: none;
}

.caro .owl-carousel .carousel-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #1f1f1f;
}

.owl-carousel .owl-item img {
    /* width: auto; */
}

.caro .owl-carousel .carousel-box img {
    opacity: .6;
}

.caro .owl-carousel .carousel-box .info-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    text-align: center;
}

.caro .owl-carousel .carousel-box .info-text i {
    font-size: 4rem;
    color: #fff;
}

.caro .owl-carousel .carousel-box .info-text hr {
    border-bottom: 0.2rem solid #fff;
    margin-top: 3rem;
}

.caro .owl-carousel .carousel-box .info-text p {
    font-size: 2rem;
    color: #fff;
}

.caro .owl-carousel .carousel-box .info-text p .name {
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 2.1rem;
    line-height: 2rem;
}

/* carolor ends */

/* Expart doctors section starts */

.doctors {
    padding: 1% 7%;
    height: 90vh;
    display: table;
    content: '';
    box-sizing: border-box;
    clear: both;
}

.doctors .heading h2 {
    font-size: 3.6rem;
    font-weight: 500;
    color: #1f1f1f;
}

.doctors .doctor-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.doctors .doctor-box-container .doctor-box {
    margin: 1rem;
    /* overflow: hidden; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.doctors .doctor-box-container .doctor-box .doctor-thumb {
    /* z-index: 1; */
    overflow: hidden;
}

.doctors .doctor-box-container .doctor-box img {
    height: auto;
    display: block;
}

.doctors .doctor-box-container .doctor-box:hover>.doctor-thumb img {
    transform: scale(1.05);
}

.doctors .doctor-box-container .doctor-box:hover>.doctor-texts {
    background: #5db2ff;
    color: #fff;
    transition: 0s;
}

.doctors .doctor-box-container .doctor-box .doctor-texts {
    color: #1f1f1f;
    text-align: center;
    background: #f5fbff;
}

.doctors .doctor-box-container .doctor-box .doctor-texts h3 {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 1rem;
}

.doctors .doctor-box-container .doctor-box .doctor-texts p {
    font-size: 1.4em;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

/* Expart doctors section ends */

/* footer section starts */

footer {
    background: #1f1f1f;
}

footer .footer-text-container {
    padding: 1% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-text-container .social-links p {
    font-size: 1.6rem;
    color: #919191;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer .footer-text-container .social-links ul li {
    display: inline-block;
    margin-right: 1rem;
}

footer .footer-text-container .social-links ul li a {
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    background: #707070;
    display: inline-block;
    font-size: 1.6rem;
    color: #bababa;
    border-radius: .4rem;
}

footer .footer-text-container .social-links ul li a:hover {
    color: #fff;
}

footer .footer-text-container>div h2 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 3rem;
}

footer .footer-text-container>div ul li a {
    font-size: 1.6rem;
    color: #bababa;
    line-height: 42px;
}

footer .footer-text-container>div p {
    font-size: 1.6rem;
    color: #bababa;
    line-height: 42px;
}

footer .footer-text-container>div ul li a:hover {
    color: #5db2ff;
}

.footer-copyright-container {
    background: black;
    padding: 3rem;
    color: #919191;
    font-size: 1.6rem;
    text-align: center;
}

/* footer section ends */

/* Responsive  */

@media (min-width:993px) {
    #menu {
        display: none;
    }
}

@media (max-width:992px) {
    #checkbox:checked~ul {
        display: block;
    }
    header {
        padding: 0;
        height: 22vh;
        position: fixed;
    }
    header .logo {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
    header .menus ul {
        position: absolute;
        background: #4c4c4c;
        top: 13rem;
        left: 0;
        width: 100%;
        display: none;
    }
    .menus ul li {
        display: block;
        margin: 1rem;
        border-radius: .6rem;
    }
    .menus ul li a {
        display: block;
        color: #fff;
        font-size: 1.4rem;
        padding: 1rem;
        border-radius: .6rem;
    }
    .menus ul li a:hover {
        background: #eee;
        color: #1f1f1f;
    }
    header .appointment {
        display: none;
    }
    #menu {
        position: absolute;
        top: 7rem;
        background: #4c4c4c;
        width: 100%;
        text-align: right;
        padding: 1rem 2rem;
        height: 7.3rem;
    }
    #menu a {
        background: #1f1f1f;
        color: #fff;
        font-size: 2rem;
        border-radius: .5rem;
        padding: 1rem;
        position: absolute;
        right: 1rem;
        text-transform: uppercase;
    }
    #menu a span {
        text-transform: uppercase;
    }
    .banner {
        padding-left: 2rem;
        flex-direction: column;
        padding-top: 5rem;
        height: 78vh;
    }
    .contents {
        width: 100%;
    }
    .banner .contents h1 span {
        font-weight: 800;
        letter-spacing: .3rem;
    }
    .banner .contents h1 {
        font-size: 3rem;
        font-weight: normal;
        color: #1f1f1f;
        letter-spacing: .4rem;
    }
    .services .box-container {
        padding: 0 0;
    }
    .welcome-aria {
        flex-direction: column;
        margin: 30rem auto;
    }
    .welcome-aria aside {
        width: 100%;
    }
    .welcome-aria aside .img-2 {
        display: none;
    }
    .welcome-aria aside img {
        width: 100%;
        padding: 1.5rem;
    }
    .welcome-aria article h3 {
        font-size: 3rem;
    }
    .welcome-aria article {
        width: 100%;
        padding-left: 0;
        padding: 1.5rem;
    }
    .department {
        padding-bottom: 5rem;
    }
    .department .heading {
        padding: 2rem;
    }
    .department .heading p {
        text-align: justify;
    }
    .business-expart-area #tabs>div {
        flex-direction: column;
    }
    .business-expart-area #tabs ul {
        margin-top: 2rem;
    }
    .business-expart-area #tabs ul li a {
        padding: 1rem;
    }
    .owl-carousel .owl-item img {
        width: auto;
    }
    .business-expart-area #tabs ul li {
        text-align: left;
        height: 5rem;
        line-height: 5rem;
    }
    .business-expart-area #tabs>div p {
        margin-bottom: 2rem;
    }
    aside img {
        width: 100%;
    }
    .caro .owl-carousel .carousel-box img {
        opacity: .2;
    }
    .caro .owl-carousel .carousel-box .info-text {
        width: 90%;
    }
    footer .footer-text-container {
        flex-direction: column;
    }
    footer .footer-text-container {
        padding: 7% 4%;
        align-items: flex-start;
    }
}